<%= form_for [:admin, @component] do |f| %>
  <% if @component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@component.errors.count, "error") %> prohibited this component from being saved:</h2>

      <ul>
      <% @component.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :param_data %><br>
    <%= f.text_field :param_data %>
  </div>
  <div class="field">
    <%= f.label :use_for %><br>
    <%= f.text_field :use_for %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
