<p id="notice"><%= notice %></p>

<h1>Listing Components</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Params</th>
      <th>Use for</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @components.each do |component| %>
      <tr>
        <td><%= component.name %></td>
        <td><%= component.param_data %></td>
        <td><%= component.use_for %></td>
        <td><%= link_to 'Show', admin_component_path(component) %></td>
        <td><%= link_to 'Edit', edit_admin_component_path(component) %></td>
        <td><%= link_to 'Destroy', admin_component_path(component), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Component', new_admin_component_path %>
